@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Montserrat:wght@400;700&family=Mooli&family=Roboto:ital,wght@1,100&display=swap');
:root{
    --primary-yellow:#fbbf24;
    --primary-blue:#3730a3;
}
body{
    background-color:var(--primary-yellow);
    color:var(--primary-blue);
}
h1{
    text-align:center;
}
.container{
    width:50% ;
    margin:auto;
}
input,label{
    display:block;

}
input{
    margin-bottom:0.5rem;
    width:100%;
}
#check-number{
    display:block;
    margin-top:1rem;
    margin:auto;
    background:transparent;
    color:var(--primary-blue);
    border-width:medium;
    padding:0.5rem;
    border-radius:0.5rem;
}